@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0ECDF;
  --foreground: #302624;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171f31;
    --foreground: #cfcdd6;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
